body{
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addtodo{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: rgb(236, 104, 16);
    border-radius: 50px;
    
    width: 50vw;
}
.contentw{
    display: flex;
    height: 100vh;
    flex-direction: column; 
    align-items: center;
    background-color:rgb(173, 119, 47);
}
.chekbox{
    margin-right: 10px;
}
.name_task{
    margin-right: 10px;
}
.delete_button{
    background-color: red;
    border:none ;
}
.status{
    margin-right: 10px;
    color: red;
    font-weight: bold;
}
.infotask{
    margin-right: 10px;
}
.todolist{
    background-color: #fff;
    border-radius: 50px;
    width: 50vw;
    padding: 20px;
}
.users{
    background-color: #fff;
    border-radius: 50px;
    width: 50vw;
    padding: 20px;
}
.itemuser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.count_task{
    margin-right: 10px;
}
.date_user{
    margin-right: 10px;
}
.count_user{
    margin-right: 10px;
}